@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	
}

body{
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
:root{
	--text-clr: #4f4f4f;
}
p{
	color: #6c757d;
}

a{
   text-decoration: none;
   color: var(--text-clr);
}

a:hover{
	text-decoration: none;
	color: var(--text-clr);
}

h2{
	color: #008080;
	font-size: 1.5rem;
}
h2:hover{
	color: #187d51;
}

.main_cart{
	background: #fff;
}

.card{
	border: none;
}

.product_img img{
	min-width: 200px;
	max-height: 200px;
	}

.product_name{
   color: darkslategrey;
   font-size: 1.5rem;
   text-transform: capitalize;
   font-weight: 500;
}

.card-tittle p{
	font-size: 1rem;
	font-weight: 500;
}

.remove_wish{
	font-size: 0.8rem;
	margin-bottom: 0;
}

.price_money h3{
	font-size: 1.2rem;
	font-weight: 700;
	color: #0ec256;
}
.set_quantity{
	position: relative;
}

.set_quantity::after {
	position: relative;
	content: "Note (Note,1 piece)";
	width: auto;
	height: inherit;
	text-align: center;
	position: absolute;
	bottom: -20px;
	right: 1rem;
	font-size: 0.7rem;
}

.page-link{
	line-height: 20px;
	width: 45px;
	font-size: 1rem;
	justify-content: center;
	color: #495057;
}

.page-link:hover{
	text-decoration: none;
	color: #495057;
	outline: none !important;
}

.page-link:focus{
	box-shadow: none;
}

.price_indiv p{
     font-size: 1.2rem;
}



.fa-heart{
	color: hotpink;
}

.fa-heart:hover{
	font-size: 1.5rem;
	color: crimson;
}

.fa-trash-alt{
	color: rgb(255, 34, 0);
}

.fa-trash-alt:hover{
	color: #44c906;
	font-size: 1.5rem;
}
.pop {
	padding: 10px 10px;
	background-color: #53b6d4;
	border-radius: 10px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	border: none;
	margin-left: 10px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.3s ease;
  }
  
  .pop:hover {
	background-color: #187a98;
  }

  .pop i {
	margin-right: 5px; /* Adjust the value to control the space between the icon and text */
  }
  
  